.item-selector-wrap {
  
  display: inline-flexbox;
  float: left;
  padding: 12px
}
.innerwrap {
  width: 77%;
  margin: auto;
  float: left;
  .innerformwrap {
    float: left;

  }
  .eventoutline {
    float: left;
    
  }

}