.formwrap {
<<<<<<< HEAD

=======
  // background-color: blueviolet;
>>>>>>> 44f87c07e92fc3cbbe855dc04d73a34618feeed8
  width:'90%';
  padding: '20px 8%';
  margin: 'auto';

  .companytitle {
    text-align: center;
    padding: 10px 0;
    font-size: 2em;
  }
  .ant-form-item {
    color: red;
  }
}