.formwrap {
  background-color: blueviolet;
  width:'90%';
  padding: '20px 8%';
  margin: 'auto';

  .companytitle {
    text-align: center;
    padding: 10px 0;
    font-size: 2em;
  }
  .ant-form-item {
    color: red;
  }
}