.home-root {


  .herolanding {
    padding: 50px 0;
    display: flex;
    background: url("/images/landingtest.jpg");
    background-size: cover;
  }
  
  .intro-wrap {
    width: 50%;
    color: #fff;
  }
  
}
