.home-root {
  
  .herolanding {
    padding: 65px 3%;
    display: flex;
    align-items: center;
    background: url("/images/landingtest.jpg");
    background-size: cover;
  }
  
  .intro-wrap {
    width: 50%;
    color: #fff;

    .catchphrase {
      font-size: 3em;
      font-weight: bold ;
      margin: 0 0 20px 0;
    }

    .support {
      font-size: 1.4em;
    }

  }
  #name {
    text-align: center;
    font-size: 2.5em;
    
  }
  
}
.herocontent {
  width: 100%;
  padding: 5px 3%;
  margin-bottom: 40px;
  display: flex;
  .innerherocontent {
    width: 100%;
    float: left;
    border-top: rgb(59, 104, 230) 2.5px solid;
    border-bottom: rgb(59, 104, 230) 2.5px solid;
    padding: 25px 3.31% 25px 0;
  }
  .contentwrap {
    width: 30%;
    float: left;
    margin-bottom: 20px;
    margin-left: 3.33%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 6px 6px #BABABA;
  }
  .contenttext {
    padding: 20px;
  }

  .contentpic {
    padding: 115px 0;
    background-color: rgb(228, 220, 220);
    border-radius:  3px 3px 0 0 ;
  }
}

@media screen and (max-width: 960px) {
  .home-root {
    .home-landing {
      padding: 60px 3%;
    }
    .intro-wrap {
      .catchphrase {
        font-size: 2.4em;
      }
      .support {
        font-size: 1.2em;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .home-root {
    .herolanding {
      padding: 55px 3%;
    } 
    .intro-wrap {
      .catchphrase {
        font-size: 2.2em;
      }
    }

    .herocontent {
      .innerherocontent {
        padding: 25px 3.5% 25px 0;
      }
      .contentwrap {
        width: 45%;
        margin-left: 4.5%;
      }
      .contenttext {

      }

      .contentpic {

      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home-root {
    .herolanding {
      padding: 45px 3%;
    }
    .intro-wrap {
      width: 100%;
      .catchphrase {
        font-size: 2em;
        margin-bottom: 10px;
      }
    }
    #name {
      display: none;
    }

    .herocontent {
      .innerherocontent {
        padding: 25px 0;
      }

      .contentwrap {
        width: 100%;
        margin-left: 0;
     
      }
      .contenttext {
        .pricedesc {
          display: none;
        }
        .button {
          width: 80%;
          display: block;
          margin-left:  auto;
          margin-right: auto;
        }
      }
      .contentpic {
        padding: 125px 0;
      }
    }
  }

}