.home-root {

  .herolanding {
    padding: 60px 0;
    display: flex;
    background: url("/images/landingtest.jpg");
    background-size: cover;
  }
  
  .intro-wrap {
    width: 50%;
    color: #fff;
  }
  
}
.herocontent {
  margin: 20px 0;
  .contentwrap {
    width: 100%;
    margin: 20px 0;
    display: flex;
    background-color: white;
  }
  .contenttext {
    width: 40%;
    padding: 20px;
  }

  .contentpic {
    width: 60%;
    padding: 160px 0;
    background-color: rgb(228, 220, 220);
  }
}