.hero-info {
  width: 100%;
  padding: 50px 3%;
  display: flex;
  .infowrap {
    width: 23%;
    float: left;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 6px 6px #BABABA;

    .contact {  
      float: left;
      .icon {
        color: rgb(59, 104, 230);
        margin: 0 3px 0 0;
        font-size: 2em;
      }
    }

    .ant-descriptions-title {
  
      font-size: 1.25em;
    }
    background-color: #fff;
    .ant-descriptions-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 7px 0;
    }
    .ant-descriptions-item-content {
      font-size: .95em;
      text-align: left;
    }
    .ant-descriptions-item-label {
      font-size: 1.05em;
      font-weight: bold;
    }
  }
  #about {
    width: 50%;
    font-size: 1.15em;
    margin: 0 2%;
  }
}

@media screen and (max-width: 996px) {
  .hero-info {
    width: 100%;
    display: flex;

    .infowrap {
      width: 28%;
    }
    #about {
      width: 40%;
      font-size: 1.1em;
    }
  }
}
@media screen and (max-width: 850px) {
  .hero-info {
    width: 100%;
    display: flex;
    .infowrap {
      width: 32%;
    }
    #about {
      width: 32%;
      font-size: 1.2em;
    }

  }

}
@media screen and (max-width: 768px) {
  .hero-info {
    width: 100%;
    display: inline-block;
   
    .infowrap {
      width: 100% ;
    }
    #about {
      width: 100%;
      font-size: 1.2em;
      margin: 2% 0;
    }

  }

}