
.navbar {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  padding: 0 3%;

  .logo {
    padding: 35px;
    background: url("/images/test-logo2.png");
    background-size: cover;
  }
  .menu {
    background: transparent;
    border: none;
    float: left;
    width: auto;
  }
  .ant-menu-item {
    a {
 
      font-size: .95em
    }
  }
  .account {
    float: right;
    font-size: .95em
  
  }

}

