.navbar {
  .logo {
    width: 13%;
    padding: 5%;
    background-size: cover;
    background: url("/images/logo.png") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 18px;
      margin-top: -2px;
      color: #fff;
    }
  }
  .menu {
    line-height: 64px;
  }
  .account {
    float: right;
  }
}

